.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3B3B3B;
    border-radius: 4px;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    z-index: 999;
}

.dropdown-content.right {
    right: 0px;
}

.dropdown.hover:hover .dropdown-content {
    display: block;
}

.dropdown.clickable .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 4px 8px;
    display: block;
    min-width: fit-content;
    border: 1px solid transparent;
}

.dropdown-item:is([disabled]) {
    opacity: .4;
}

.dropdown-item:hover:not([disabled]) {
    border-color: var(--a-color);
    cursor:pointer;
}

.dropdown-item:focus-within {
    border-color: transparent;
}