.acu-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.acu-primary-text {
	font-size: 1.8em;
	font-weight: 100;
	line-height: 1;
}

.acu-default-text {
	margin-top: 0;
	font-size: 1.4em;
	font-weight: 100;
	line-height: 1;
}
