.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form > input {
    width: inherit;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.875em;
}

.btn-container > .btn-a:first-child {
    width: fit-content;
}

.btn-container > .btn-a:last-child {
    width: fit-content;
}

.btn-a {
    font-family: inherit;
    font-weight: 500;
    color: var(--a-color);
    text-decoration: inherit;
    padding: unset;
    background-color: unset;
    border-radius: unset;
    border: none;
    transition:none;
    font-size: inherit;
}

.btn-a:hover:not([disabled]) {
    color: var(--a-color-hover);
}

.btn-a:focus-visible:not([disabled]) {
    outline-offset: 1px;
}