.card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0;
}

.url-container {
    display: flex;
}

.btn-url-container {
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-top: 2em;
}

.btn-url {
    color: var(--color);
    width: 50%;
    min-width: fit-content;
}

.opt-container {
    display: flex;
    gap: .8em;
}

.qr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.timer-select {
    height: 100%;
}

.short-url-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1a1a1a;
    border-radius: 12px;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgb(26 26 26 / 70%);
}

.short-url-inner-container {
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: start;
}

.short-url-container-close-btn {
    position: absolute;
    padding: 1px 0px 4px 4px;
    top: 0px;
    right: 0px;
    border: 1px solid white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-radius: 0px 12px 0px 9px;
}

.short-url-container-close-btn:active,
.short-url-container-close-btn:hover {
    color: var(--a-color);
}

.short-url-label {
    font-weight: 500;
}

.short-url-link-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: .5em;
}

.short-url-btn-container {
    display: flex;
    margin-left: auto;
    width: 25%;
    justify-content: space-between;
}

.short-url-link-container>input[disabled] {
    width: 60%;
    cursor: default;
    height: fit-content;
}

.short-url-btn-container>button,
.short-url-link-container>button {
    padding: 0.3em;
    background-color: #FFFFFF;
    color: #1A1A1A;
}

.short-url-btn-container>button[disabled],
.short-url-link-container>button[disabled] {
    opacity: .4;
}

.short-url-img-container {
    width: 70%;
}

.short-url-img {
    width: 7em;
    height: 7em;
}